
DB_HOST=localhost
DB_PORT=5432
DB_NAME=pc1_db
DB_USER=pc1_user
DB_PASSWORD=pc1_pass

JWT_SECRET=TgsLXUc2d0Ol/xYzQi+2+WGQxi3DYeJmPeD+ZNlvcCw=
JWT_EXPIRATION_ACCESS=3600000
JWT_EXPIRATION_REFRESH=604800000